<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stimgen{% block page_title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://unilay.theonline.app/css/unilay6.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/fav.ico') }}"
    />
    {% block head_addons %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="{{ url_for('core.index') }}" id="logo-with-text">Stimgen</a>
      <div id="nav-menu">
        <ul id="nav-links">
          {% block custom_nav %}
          <li><a href="{{ url_for('core.apps') }}">Apps</a></li>
          <!-- <li><a href="">About</a></li> -->
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('core.dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('core.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('core.login') }}">Login</a></li>
          {% endif %} {% endblock %}
          <li id="close-button">Close</li>
        </ul>
        <button id="mobile-nav-button" class="hidden"></button>
      </div>
    </nav>
    <div id="shades" class="hidden"></div>
    {% for message in get_flashed_messages() %}
    <section class="confined rounded" id="notif{{loop.index}}">
      <div class="notification" onClick="dismissNotif('notif{{loop.index}}')">
        {{ message }}
      </div>
    </section>
    {% endfor %} {% block page_content %}
    <main class="confined">
      <section id="welcome" class="spacer-medium"></section>
    </main>
    {% endblock %}
    <footer>
      <div>&copy; SFU Vision Lab, 2021</div>
      <div>V3.0.0</div>
    </footer>
    <script src="https://unilay.theonline.app/js/uiToggles.js"></script>
  </body>
</html>
