{% extends 'unilay.html' %} {% block head_addons %}
<style>
  canvas {
    max-width: 100%;
  }
</style>
{% endblock %} {% block page_title %}Colored Blocks Generator{% endblock %} {%
block page_content %}
<main class="confined">
  <h1>Colored Blocks Generator</h1>
  <section class="bg-white shadowed padded">
    <p>Current mode: <code>{{run_mode}} {{target_mode}}</code></p>
    <div class="side-by-side">
      <div>
        <canvas id="original"></canvas>
      </div>
      <div>
        <canvas id="modified"></canvas>
      </div>
    </div>
    <div class="side-by-side-flex">
      <div>
        <button onClick="regenerate()" class="custom button-secondary">
          Generate
        </button>
      </div>
      <div>
        <button onclick="toggleHighlight()" class="custom button-primary">
          Highlight
        </button>
      </div>
      <div>
        <button onClick="toggleElement('coord-form')" class="custom">
          Save/Edit
        </button>
      </div>
      <div>
        <a href="{{ url_for('cobloAdj.projects', ref_id=ref_id) }}">
          <button class="custom">Settings</button>
        </a>
      </div>
    </div>
    <h3>Manipulation Target</h3>
    <div class="side-by-side-flex">
      <div>
        <select id="runMode">
          <option value="{{run_mode}}">{{ run_mode.capitalize() }}</option>
          <option disabled>-----</option>
          <option value="change">Change</option>
          <option value="flip">Flip</option>
        </select>
      </div>
      <div>
        <select id="targetMode">
          <option value="{{target_mode}}">
            {{ target_mode.capitalize() }}
          </option>
          <option disabled>-----</option>
          <option value="target">Target</option>
          <option value="inverse">Inverse</option>
          <option value="all">All</option>
        </select>
      </div>
      <div>
        <button class="custom button-secondary" onClick="navigateNewConfig()">
          Start
        </button>
      </div>
    </div>

    <div id="coord-form" class="hidden">
      <form action="" method="GET">
        {{ form.hidden_tag() }} {{ form.stimulus_JSON }}
        <div class="side-by-side">
          <div>{{ form.save(class_="button-primary") }}</div>
          <div>
            <button type="button" class="custom" onClick="regenerate(true)">
              Edit Current Image
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/stimgenAPI/stimgen-coblo-painter.js') }}"></script>
  <script>
    const {
      setupCanvasContext,
      drawFixationCross,
      convertMarginToAngle,
      generateRandomAngle,
      autoConfigRandomAngle,
      generateCoordinatesFromAngle,
      drawSemiBlock,
      runCoordinateDistribution,
      showMargins,
      setupCanvas,
      clearCanvas,
      sampleWithReplacement,
      pickChangeLocation,
      changeLocationManipulation,
      inverseManipulation,
      highlightChange,
      manipulateAllBlocks,
    } = painter();

    CONFIG = JSON.parse(`{{ project_settings|safe }}`);
    CONFIG.imageCenter = {
      x: CONFIG.imageWidth / 2,
      y: CONFIG.imageHeight / 2,
    };

    const navigateNewConfig = () => {
      const runMode = document.getElementById("runMode").value;
      const targetMode = document.getElementById("targetMode").value;
      window.location.href = `/coblo/run/{{ref_id}}/${runMode}/${targetMode}`;
    };

    const c1 = setupCanvasContext("original");
    const c2 = setupCanvasContext("modified");

    setupCanvas([c1, c2]);

    let drawingInstructions = {};

    const drawBlocks = (coordinatesJSON) => {
      let blocks = [];
      if (!coordinatesJSON) {
        for (const sector of [1, 2, 3, 4]) {
          const colorOptions = [...CONFIG.colors];
          const angle = autoConfigRandomAngle(sector, 0, Math.PI / 2);
          const coordinates = generateCoordinatesFromAngle(angle, sector);
          blocks.push({
            coordinates,
            colors: [
              sampleWithReplacement(colorOptions),
              sampleWithReplacement(colorOptions),
            ],
          });
        }

        const ABlocks = JSON.parse(JSON.stringify(blocks));
        const BBlocks = JSON.parse(JSON.stringify(blocks));

        const targetLocation = pickChangeLocation(BBlocks);
        const targetMode = "{{ target_mode }}";
        const runMode = "{{ run_mode }}";
        if (targetMode === "target") {
          changeLocationManipulation(targetLocation, runMode, null);
        } else if (targetMode === "inverse") {
          inverseManipulation(targetLocation, runMode, BBlocks);
        } else if (targetMode === "all") {
          manipulateAllBlocks(BBlocks, runMode);
        }

        const changedBlock = targetLocation;

        drawingInstructions.ABlocks = ABlocks;
        drawingInstructions.BBlocks = BBlocks;
        drawingInstructions.targetLocation = targetLocation;

        document.getElementById("stimulus_JSON").value =
          JSON.stringify(drawingInstructions);
      } else {
        drawingInstructions = JSON.parse(coordinatesJSON);
      }

      // console.log(drawingInstructions);

      for (const block of drawingInstructions.ABlocks) {
        drawSemiBlock(c1, block.coordinates, block.colors[0], block.colors[1], {
          gap: 2,
        });
      }

      for (const block of drawingInstructions.BBlocks) {
        drawSemiBlock(c2, block.coordinates, block.colors[0], block.colors[1], {
          gap: 2,
        });
      }
    };

    function regenerate(basedOnConfig) {
      let base = null;
      if (basedOnConfig) {
        base = document.getElementById("stimulus_JSON").value;
      } else {
        drawingInstructions.targetLocation = null;
      }
      clearCanvas([c1, c2]);
      drawBlocks(base);
    }

    function toggleHighlight() {
      if (!drawingInstructions.targetLocation) {
        return alert('No blocks to change, click on "Generate" first!');
      }
      if (!drawingInstructions.targetLocation.highlighted) {
        highlightChange(drawingInstructions.targetLocation, c2);
        drawingInstructions.targetLocation.highlighted = true;
      } else {
        regenerate(true);
        drawingInstructions.targetLocation.highlighted = false;
      }
    }
  </script>
</main>
{% endblock %}
