{% extends 'unilay.html' %} {% block head_addons %}
<style>
  canvas {
    max-width: 100%;
  }
</style>
{% endblock %} {% block page_title %}Colored Blocks Generator{% endblock %} {%
block page_content %}
<main class="confined">
  <h1>Colored Blocks Generator</h1>
  <section class="bg-white shadowed padded">
    <div>
      <h3>Current Changes</h3>
      Target displacement value:
      <span id="displayDisplacementValue">Undefined</span><br />
      Target displacement direction:
      <span id="displayDisplacementDirection">Undefined</span><br />
      Target manipulation type:
      <span id="displayTargetManipulationType">Undefined</span><br />
      Values will be undefined if images have not been generated yet.
    </div>
    <div class="side-by-side">
      <div>
        <canvas id="original"></canvas>
      </div>
      <div>
        <canvas id="modified"></canvas>
      </div>
    </div>
    <div class="side-by-side-flex">
      <div>
        <button onClick="regenerate()" class="custom button-secondary">
          Generate
        </button>
      </div>
      <div>
        <button onclick="toggleHighlight()" class="custom button-primary">
          Highlight
        </button>
      </div>
      <div>
        <button onClick="toggleElement('coord-form')" class="custom">
          Save/Edit
        </button>
      </div>
      <div>
        <a href="{{ url_for('coblo.projects', ref_id=ref_id) }}">
          <button class="custom">Settings</button>
        </a>
      </div>
    </div>
    <h3>Manipulation Target</h3>
    <div class="side-by-side-flex">
      <div>
        Mode
        <select id="runMode">
          <option value="change">Change</option>
          <option value="flip">Flip</option>
        </select>
      </div>
      <div>
        Target selection
        <select id="targetMode">
          <option value="target">Target</option>
          <option value="inverse">Inverse</option>
          <option value="all">All</option>
        </select>
      </div>
      <div>Gap<input id="gap" type="text" value="0" /></div>
    </div>
    <div>
      <input id="showLines" type="checkbox" />
      <label for="showLines"> Show connecting lines (if gap is present) </label>
      <br />
      <input id="whiteGap" type="checkbox" />
      <label for="whiteGap">White gaps</label>
      <br />
      <input id="showNumbers" type="checkbox" />
      <label for="showNumbers">Draw block numbers</label>
      <br />
      <input id="drawDiagonalLine" type="checkbox" />
      <label for="drawDiagonalLine">Draw diagonal line</label>
      <br />
      <input id="changePositionCheck" type="checkbox" />
      <label for="changePositionCheck"
        >Change target block position (does not work with 'inverse' or
        'all')</label
      >
      <select id="changePositionTypeSelect">
        <option value="overlap">Overlap</option>
        <option value="touch">Touch</option>
        <option value="separate">Separate</option>
      </select>
      <input
        type="text"
        id="changePositionMax"
        placeholder="max position change value"
      />
      <input
        type="text"
        id="changePositionMin"
        placeholder="min position change value"
      />
      <select id="changeDirectionValueSelect">
        <option value="topLeft">Top Left</option>
        <option value="topRight">Top Right</option>
        <option value="bottomLeft">Bottom Left</option>
        <option value="bottomRight">Bottom Right</option>
      </select>
    </div>

    <div id="coord-form" class="hidden">
      <form action="" method="GET">
        {{ form.hidden_tag() }} {{ form.stimulus_JSON }}
        <div class="side-by-side">
          <div>{{ form.save(class_="button-primary") }}</div>
          <div>
            <button type="button" class="custom" onClick="regenerate(true)">
              Edit Current Image
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/stimgenAPI/stimgen-coblo-painter.js') }}"></script>
  <script>
    const {
      setupCanvasContext,
      drawFixationCross,
      convertMarginToAngle,
      generateRandomAngle,
      autoConfigRandomAngle,
      generateCoordinatesFromAngle,
      drawSemiBlock,
      runCoordinateDistribution,
      showMargins,
      setupCanvas,
      clearCanvas,
      sampleWithReplacement,
      pickChangeLocation,
      changeLocationManipulation,
      inverseManipulation,
      highlightChange,
      manipulateAllBlocks,
    } = painter();

    CONFIG = JSON.parse(`{{ project_settings|safe }}`);
    CONFIG.imageCenter = {
      x: CONFIG.imageWidth / 2,
      y: CONFIG.imageHeight / 2,
    };

    const navigateNewConfig = () => {
      const runMode = document.getElementById("runMode").value;
      const targetMode = document.getElementById("targetMode").value;
      const gap = document.getElementById("gap").value;
      window.location.href = `/coblo/run/{{ref_id}}/${runMode}/${targetMode}/${gap}`;
    };

    const c1 = setupCanvasContext("original");
    const c2 = setupCanvasContext("modified");

    setupCanvas([c1, c2]);

    let drawingInstructions = {};

    const drawBlocks = (coordinatesJSON) => {
      let blocks = [];
      if (!coordinatesJSON) {
        for (const sector of [1, 2, 3, 4]) {
          const colorOptions = [...CONFIG.colors];
          const angle = autoConfigRandomAngle(sector, 0, Math.PI / 2);
          const coordinates = generateCoordinatesFromAngle(angle, sector);
          blocks.push({
            coordinates,
            colors: [
              sampleWithReplacement(colorOptions),
              sampleWithReplacement(colorOptions),
            ],
            topLeftToBottomRight: Math.random() < 0.5 ? true : false,
          });
        }

        const ABlocks = JSON.parse(JSON.stringify(blocks));
        const BBlocks = JSON.parse(JSON.stringify(blocks));

        const targetLocation = pickChangeLocation(BBlocks);
        const targetMode = document.getElementById("targetMode").value;
        const runMode = document.getElementById("runMode").value;
        const showLines = document.getElementById("showLines");
        const whiteGap = document.getElementById("whiteGap");
        const showNumbers = document.getElementById("showNumbers");
        const drawDiagonalLine = document.getElementById("drawDiagonalLine");
        const shouldChangePosition = document.getElementById(
          "changePositionCheck"
        ).value;
        const changeType = document.getElementById(
          "changePositionTypeSelect"
        ).value;
        const changePositionMaxValue =
          document.getElementById("changePositionMax").value;
        const changePositionMinValue =
          document.getElementById("changePositionMin").value;
        const changePositionValue = getRandomInt(
          changePositionMinValue,
          changePositionMaxValue
        );

        const changeDirection = document.getElementById(
          "changeDirectionValueSelect"
        ).value;

        if (targetMode === "target") {
          changeLocationManipulation(targetLocation, runMode, {
            shouldChangePosition,
            changeType, // overlap, touch, or separate
            changeValue: changePositionValue, // applies to X and Y
            changeDirection, // topLeft, topRight, bottomLeft, or bottomRight
          });
        } else if (targetMode === "inverse") {
          inverseManipulation(targetLocation, runMode, BBlocks);
        } else if (targetMode === "all") {
          manipulateAllBlocks(BBlocks, runMode);
        }

        const changedBlock = targetLocation;

        drawingInstructions.ABlocks = ABlocks;
        drawingInstructions.BBlocks = BBlocks;
        drawingInstructions.targetLocation = targetLocation;

        document.getElementById("stimulus_JSON").value =
          JSON.stringify(drawingInstructions);

        document.getElementById("displayDisplacementValue").innerHTML =
          changePositionValue;
        document.getElementById("displayDisplacementDirection").innerHTML =
          changeDirection;
        document.getElementById("displayTargetManipulationType").innerHTML =
          changeType;
      } else {
        drawingInstructions = JSON.parse(coordinatesJSON);
      }

      let blockIndex = 1;
      for (const block of drawingInstructions.ABlocks) {
        drawSemiBlock(c1, block.coordinates, block.colors[0], block.colors[1], {
          gap: +document.getElementById("gap").value,
          showLines: showLines.checked,
          whiteGap: whiteGap.checked,
          blockNumber: blockIndex,
          showNumbers: showNumbers.checked,
          drawDiagonalLine: drawDiagonalLine.checked,
          drawTopLeftToBottomRight: block.topLeftToBottomRight,
        });
        blockIndex++;
      }

      blockIndex = 1;
      for (const block of drawingInstructions.BBlocks) {
        drawSemiBlock(c2, block.coordinates, block.colors[0], block.colors[1], {
          gap: +document.getElementById("gap").value,
          showLines: showLines.checked,
          whiteGap: whiteGap.checked,
          blockNumber: blockIndex,
          showNumbers: showNumbers.checked,
          drawDiagonalLine: drawDiagonalLine.checked,
          drawTopLeftToBottomRight: block.topLeftToBottomRight,
        });
        blockIndex++;
      }
    };

    function regenerate(basedOnConfig) {
      let base = null;
      if (basedOnConfig) {
        base = document.getElementById("stimulus_JSON").value;
      } else {
        drawingInstructions.targetLocation = null;
      }
      clearCanvas([c1, c2]);
      drawBlocks(base);
    }

    function toggleHighlight() {
      if (!drawingInstructions.targetLocation) {
        return alert('No blocks to change, click on "Generate" first!');
      }
      if (!drawingInstructions.targetLocation.highlighted) {
        highlightChange(drawingInstructions.targetLocation, c2);
        drawingInstructions.targetLocation.highlighted = true;
      } else {
        regenerate(true);
        drawingInstructions.targetLocation.highlighted = false;
      }
    }
  </script>
</main>
{% endblock %}
