{% extends 'unilay.html' %} {% block head_addons %}
<style>
  canvas {
    max-width: 100%;
  }
</style>
{% endblock %} {% block page_title %}Colored Blocks Generator{% endblock %} {%
block page_content %}
<main class="confined">
  <h1>Colored Blocks Generator</h1>
  <section class="bg-white shadowed padded">
    <div class="side-by-side">
      <div>
        <canvas id="original"></canvas>
      </div>
      <div>
        <canvas id="modified"></canvas>
      </div>
    </div>
    <div class="side-by-side-flex">
      <div>
        <button onClick="regenerate()" class="custom button-secondary">
          Generate
        </button>
      </div>
      <div>
        <button onclick="toggleHighlight()" class="custom button-primary">
          Highlight
        </button>
      </div>
      <div>
        <button onClick="toggleElement('coord-form')" class="custom">
          Save/Edit
        </button>
      </div>
      <div>
        <a href="{{ url_for('coblo.projects', ref_id=ref_id) }}">
          <button class="custom">Settings</button>
        </a>
      </div>
      <div>
        <a href="{{ generate_target_url(run_mode, target_mode, 'run_mode') }}">
          <button class="custom">
            {{ '"Flip"' if run_mode == 'flip' else '"Change"' }}
          </button>
        </a>
      </div>
      <div>
        <a
          href="{{ generate_target_url(run_mode, target_mode, 'target_mode') }}"
        >
          <button class="custom">
            {{ '"Inverse"' if target_mode == 'inverse' else '"Target"' }}
          </button>
        </a>
      </div>
    </div>

    <div id="coord-form" class="hidden">
      <form action="" method="GET">
        {{ form.hidden_tag() }} {{ form.stimulus_JSON }}
        <div class="side-by-side">
          <div>{{ form.save(class_="button-primary") }}</div>
          <div>
            <button type="button" class="custom" onClick="regenerate(true)">
              Edit Current Image
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/stimgenAPI/stimgen-coblo-painter.js') }}"></script>
  <script>
    const {
      setupCanvasContext,
      drawFixationCross,
      convertMarginToAngle,
      generateRandomAngle,
      autoConfigRandomAngle,
      generateCoordinatesFromAngle,
      drawSemiBlock,
      runCoordinateDistribution,
      showMargins,
      setupCanvas,
      clearCanvas,
      sampleWithReplacement,
      pickChangeLocation,
      changeLocationManipulation,
      inverseManipulation,
      highlightChange,
    } = painter();

    const state = {
      changedBlock: null,
      highlightChange: false,
    };

    CONFIG = JSON.parse(`{{ project_settings|safe }}`);
    CONFIG.imageCenter = {
      x: CONFIG.imageWidth / 2,
      y: CONFIG.imageHeight / 2,
    };

    const c1 = setupCanvasContext("original");
    const c2 = setupCanvasContext("modified");

    setupCanvas([c1, c2]);

    const drawBlocks = (coordinatesJSON) => {
      let blocks = [];
      if (!coordinatesJSON) {
        for (const sector of [1, 2, 3, 4]) {
          const colorOptions = [...CONFIG.colors];
          const angle = autoConfigRandomAngle(sector, 0, Math.PI / 2);
          const coordinates = generateCoordinatesFromAngle(angle, sector);
          blocks.push({
            coordinates,
            colors: [
              sampleWithReplacement(colorOptions),
              sampleWithReplacement(colorOptions),
            ],
          });
        }
        document.getElementById("stimulus_JSON").value = JSON.stringify(blocks);
      } else {
        blocks = JSON.parse(coordinatesJSON);
      }

      for (const block of blocks) {
        drawSemiBlock(c1, block.coordinates, block.colors[0], block.colors[1]);
        drawSemiBlock(c2, block.coordinates, block.colors[0], block.colors[1]);
      }

      // draw changed block
      const targetLocation = pickChangeLocation(blocks);
      const targetMode = "{{ target_mode }}";
      const runMode = "{{ run_mode }}";
      if (targetMode === "target") {
        console.log("running target mode");
        changeLocationManipulation(targetLocation, runMode, null);
      } else if (targetMode === "inverse") {
        console.log("running inverse mode");
        inverseManipulation(targetLocation, runMode, blocks);
      }

      const changedBlock = state.changedBlock || targetLocation;
      state.changedBlock = changedBlock;

      for (const block of blocks) {
        drawSemiBlock(c2, block.coordinates, block.colors[0], block.colors[1]);
      }
    };

    function regenerate(basedOnConfig) {
      let base = null;
      if (basedOnConfig) {
        base = document.getElementById("stimulus_JSON").value;
      } else {
        state.changedBlock = null;
      }
      clearCanvas([c1, c2]);
      drawBlocks(base);
    }

    function toggleHighlight() {
      if (!state.changedBlock) {
        return alert('No blocks to change, click on "Generate" first!');
      }
      if (!state.highlightChange) {
        highlightChange(state.changedBlock, c2);
        state.highlightChange = true;
      } else {
        regenerate(true);
        state.highlightChange = false;
      }
    }
  </script>
</main>
{% endblock %}
