{% extends 'unilay.html' %}

{% block head_addons %}
<style>
  canvas {
    max-width: 100%;
  }
</style>
{% endblock %}

{% block page_title %}Colored Blocks Generator{% endblock %}

{% block page_content %}
<main class="confined">
  <h1>Colored Blocks Generator</h1>
  <section class="bg-white shadowed padded">
    <div class="side-by-side">
      <div>
        <canvas id="original"></canvas>
      </div>
      <div>
        <canvas id="modified"></canvas>
      </div>
    </div>
  </section>
  
  <script src="{{ url_for('static', filename='js/stimgenAPI/stimgen-coblo-painter.js') }}"></script>
  <script>
    const {
      setupCanvasContext,
      drawFixationCross,
      convertMarginToAngle,
      generateRandomAngle,
      generateCoordinatesFromAngle,
      drawSemiBlock,
      runCoordinateDistribution,
      showMargins,
    } = painter();

    CONFIG = {
      // ALL UNITS IN PIXELS UNLESS OTHERWISE STATED
      imageBackground: 'black',
      imageWidth: 1280,
      imageHeight: 1024,
      outerMargins: 50,
      centralMargins: 50,
      objectWidth: 200,
      objectHeight: 100,
      radial: {
        radius: 450
      },
      fixationCross: {
        show: true,
        color: '#ffffff',
        thickness: 10,
        length: 80,
      }
    };
    CONFIG.imageCenter = {
      x: CONFIG.imageWidth / 2,
      y: CONFIG.imageHeight / 2
    }

    const [ c1, c1Canvas ] = setupCanvasContext('original');

    if (CONFIG.fixationCross.show) {
      drawFixationCross(c1, 0, 0);
    }

    showMargins(c1);
    runCoordinateDistribution(1000, c1);

    // const angle = generateRandomAngle(
    //   0 + convertMarginToAngle(CONFIG.centralMargins) + convertMarginToAngle(CONFIG.objectWidth / 2),
    //   Math.PI/2 - convertMarginToAngle(CONFIG.centralMargins) - convertMarginToAngle(CONFIG.objectWidth / 2)
    // );

    // const coordinates = generateCoordinatesFromAngle(angle, 1);

    // drawSemiBlock(c1, coordinates, '#ff3939', '#358bdc');
  </script>
</main>
{% endblock %}