{% extends 'unilay.html' %}

{% block head_addons %}
<style>
  canvas {
    max-width: 100%;
  }
</style>
{% endblock %}

{% block page_title %}Colored Blocks Generator{% endblock %}

{% block page_content %}
<main class="confined">
  <h1>Colored Blocks Generator</h1>
  <section class="bg-white shadowed padded">
    <div class="side-by-side">
      <div>
        <canvas id="original"></canvas>
      </div>
      <div>
        <canvas id="modified"></canvas>
      </div>
    </div>
    <button onClick="regenerate()" class="custom button-secondary">Regenerate</button> 
    <button onClick="toggleElement('coord-form')" class="custom">Save/Edit Image Pair</button>
    <div id="coord-form" class="hidden">
      <form action="" method="GET">
        {{ form.hidden_tag() }}
        {{ form.stimulus_JSON }}
        {{ form.save(class_="button-primary") }}
      </form>
      <button class="custom" onClick="regenerate(true)">Edit Current Image</button>
    </div>
  </section>
  
  <script src="{{ url_for('static', filename='js/stimgenAPI/stimgen-coblo-painter.js') }}"></script>
  <script>
    const {
      setupCanvasContext,
      drawFixationCross,
      convertMarginToAngle,
      generateRandomAngle,
      autoConfigRandomAngle,
      generateCoordinatesFromAngle,
      drawSemiBlock,
      runCoordinateDistribution,
      showMargins,
      setupCanvas,
      clearCanvas,
      sampleWithReplacement
    } = painter();

    CONFIG = JSON.parse(`{{ project_settings|safe }}`);
    CONFIG.imageCenter = {
      x: CONFIG.imageWidth / 2,
      y: CONFIG.imageHeight / 2
    }

    const c1 = setupCanvasContext('original');
    const c2 = setupCanvasContext('modified');

    setupCanvas([c1, c2]);
    
    const drawBlocks = (coordinatesJSON) => {
      let blocks = [];
      if (!coordinatesJSON) {
        for (const sector of [1, 2, 3, 4]) {
          const colorOptions = [...CONFIG.colors];
          const angle = autoConfigRandomAngle(sector, 0, Math.PI / 2);
          const coordinates = generateCoordinatesFromAngle(angle, sector);
          blocks.push({
            coordinates,
            colors: [sampleWithReplacement(colorOptions), sampleWithReplacement(colorOptions)]
          });
        }
        document.getElementById('stimulus_JSON').value = JSON.stringify(blocks)
      } else {
        blocks = JSON.parse(coordinatesJSON);
      }


      for (const block of blocks) {
        drawSemiBlock(c1, block.coordinates, block.colors[0], block.colors[1]);
        drawSemiBlock(c2, block.coordinates, block.colors[0], block.colors[1]);
      }
    };

    function regenerate(basedOnConfig) {
      let base;
      if (basedOnConfig) {
        base = document.getElementById('stimulus_JSON').value;
      }
      clearCanvas([c1, c2]);
      drawBlocks(base);
    }






  </script>
</main>
{% endblock %}